* {
    font-family: "Roboto", sans-serif;
}

h1, h2, h3, h4, h5 {
    margin: 0;
}

body {
    margin: 0;
    min-height: 100vh;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

header, footer {
    background-color: #1f2937;
    margin: 0;
}

header {
    padding: 30px 300px;
}

.header {
    display: flex;
    justify-content: space-between;
}

.sub-header {
    display: flex;
    padding: 100px 0;
    gap: 30px;
}



.links ul {
    display: flex;
    gap: 20px;
}

.header a, .sub-header p  {
    font-size: 18px;
    color: #E5E7EB;
}

.header h3 {
    font-size: 24px;
    color: #f9faf8;
}

.sub-header h1 {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
}

.sub-header img {
    width: 800px;
}

button {
    background-color: #3882f6;
    border: none;
    font-size: 18px;
    border-radius: 5px;
    padding: 6px 25px;
    font-weight: 500;
    color: #fff;
}


.information {
    margin: 30px 300px 80px;
}

.information h2 {
    text-align: center;
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
    margin: 50px 0;
}

.information h3 {
    color: #1f2937;
    margin-top: 10px;
}

.information p {
    color: #1f2937;
    font-size: 18px;
}

.destinations {
    display: flex;
    flex-wrap: wrap;
    gap: 100px;
}

.destination {
    text-align: center;
    width: 200px;
    flex: 1 1 auto;
}

.destination img {
    border: 5px solid #3882f6;
    border-radius: 30px;
}

.quote-section {
    background-color: #E5E7EB;
    
}
.quote-section div {
    width: 50%;
    margin: 0 auto;
    padding: 80px 0;
}

.quote {
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
}

.author {
    font-size: 24px;
    font-weight: bold;
    text-align: end;
}

.action-section {
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.action {
    color: #fff;
    padding: 30px 100px;
    background-color: #3882f6;
    border-radius: 10px;
}